.header {
	background-image: url("Space.png");
	background-attachment: fixed;
	background-position: center;
	color: darkgrey;
}

.header a.btn {
	font-size: 14px;
}

#open-legend-button {
	display: block;
	margin: auto;
}

#legend-text {
	display: none;
	position: relative;
}

#legend-text ul {
	list-style: none;
	display: inline-block;
}

#legend-text li {
	background-repeat: no-repeat;
	background-position: 6px center;
	padding-left: 30px;
}

#close-legend-button {
	position: absolute;
	top: 0;
	right: 10px;
}

h3.row-header {
	display: inline-block;
    width: 350px;
    border-bottom: 2px solid #337ab7;
	font-size: 23px;
}

ul.changelog {
	list-style: none;
	padding-left: 5px;
}

ul.changelog li {
	padding: 2px 10px 2px 30px;
	margin: 0 0 5px 0;
	border: 1px solid darkgrey;
	border-left: 3px solid #33a3dd;
	background-position: 6px center;
	background-repeat: no-repeat;
	word-wrap: break-word;
}

h4.author {
	font-size: 15px;
	font-weight: 600;
}

hr {
	margin-top: 7px;
	margin-bottom: 7px;
}

.link-btn {
	padding: 0px 5px;
}

.fix, 
.bugfix {
	background-image: url("icons/BugFix.png");
	border-left-color: #99dba1 !important;
}

.add,
.rscadd {
	background-image: url("icons/CircledPlus.png");
	border-left-color: #11a822 !important;
}

.del,
.rscdel {
	background-image: url("icons/CircledMinus.png");
	border-left-color: #d14a4a !important;
}

.image {
	background-image: url("icons/Picture.png");
	border-left-color: #006b75 !important;
}

.sound {
	background-image: url("icons/Sound.png");
}

.spellcheck {
	background-image: url("icons/SpellCheck.png");
	border-left-color: #d4c5f9 !important;
}

.ru,
.localization {
	background-image: url("icons/Russian.png");
	border-left-color: #fc0fc0 !important;
}

.tweak {
	background-image: url("icons/Wrench.png");
	border-left-color: #708090 !important
}

.performance {
	background-image: url("icons/Performance.png");
	border-left-color: #0052cc !important
}

.experiment {
	background-image: url("icons/NukeBurn.png");
	border-left-color: #dfce37 !important;
}

.balance {
	background-image: url("icons/Balance.png");
	border-left-color: #ffba73 !important;
}

.map {
	background-image: url("icons/Map.png");
	border-left-color: #CC3391 !important;
}
